[submodule "linux"]
	path = linux
	url = https://github.com/arjuncr/linux.git
[submodule "raspberry-pi-uboot"]
	path = raspberry-pi-uboot
	url = https://github.com/arjuncr/raspberry-pi-uboot.git
[submodule "light-os"]
	path = light-os
	url = https://github.com/arjuncr/light-os.git
[submodule "cross-gcc-arm"]
	path = cross-gcc-arm
	url = https://gitlab.com/arjuncr00/cross-gcc-arm.git
